<md-toolbar class="header lower-navbar">
  <span><h1 class="header">{{title}}</h1></span>
</md-toolbar>
<div class="full-page">
    <div class="all-inputs">
        <div class="container-ele2">
            <md-input-container class="inputs"> 
                <input mdInput        
                    placeholder="Day"
                    type="text"
                    id="day"
                    #day>
            </md-input-container> 

            <md-input-container class="inputs"> 
                <input mdInput        
                    placeholder="Month"
                    type="text"
                    id="month"
                    #month>
            </md-input-container> 

            <md-input-container class="inputs"> 
                <input mdInput        
                    placeholder="Year"
                    type="text"
                    id="year"
                    #year>
            </md-input-container> 
        </div>

        <div class="container-ele2">
            <md-input-container class="inputs">
                <input mdInput
                placeholder="Social Security Number"    
                type="number"
                id="ssn"
                #ssn>
            </md-input-container>
         </div>

        <div class="container-ele2">
            <md-input-container class="inputs">
                <input mdInput
                placeholder="Address Line 1"    
                type="text"
                id="addressLine1"
                #addressLine1>
            </md-input-container>  
        </div>

        <div class="container-ele2">
            <md-input-container class="inputs">
                <input mdInput
                placeholder="Address Line 2"
                type="text"
                id="addressLine2"
                #addressLine2>
            </md-input-container> 
        </div>

        <div class="container-ele2">
            <md-input-container class="inputs">
                <input mdInput
                placeholder="City"
                type="text"
                id="city"
                #city>
            </md-input-container> 

            <md-input-container class="inputs">
                <input mdInput
                placeholder="Zip Code"
                type="text"
                id="zipcode"
                #zipcode>
            </md-input-container> 
        </div>

        <div class="container-ele2">
            <md-input-container class="inputs">
                <input mdInput
                placeholder="State"
                type="text"
                id="state"
                #state>
            </md-input-container> 

            <md-input-container class="inputs">
                <input mdInput
                placeholder="Country"
                type="text"
                id="country"
                #country>
            </md-input-container> 
        </div>
    </div>
 
    <button md-raised-button 
        routerLink="/register/address/bank"
        class="green-buttons register-button"
        (click)="addInformation(day.value, month.value, year.value, ssn.value,
    addressLine1.value, addressLine2.value, city.value,
    zipcode.value, state.value, country.value)">Register
    </button> 
        
</div> 