<div class="app-component-div">
  <md-toolbar class="app-component-navbar">
    <span>
      <a href="http://tourupapp.com/" >
        <img src="http://tourup.github.io/images/logo.png" class="brand-logo"
      style="max-height:64px; margin-top:6px;"></a>
    </span>
    <!-- <md-icon href="http://tourupapp.com/" class="home-icon">home</md-icon> -->
    <!-- <span>
    <a href="http://tourupapp.com/">
      Home Page
    </a>
  </span> -->
  </md-toolbar>
  <router-outlet></router-outlet>
</div>
