<div class="app-component-div">
  <mz-navbar [navbarClass]="'app-component-navbar'">
    <mz-navbar-item-container [align]="'left'">
      <a href="http://tourupapp.com/" >
        <img src="../assets/logo.png" class="brand-logo"
      style="max-height:64px;"></a>
    </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a href="http://tourupapp.com/">
      Home Page
    </a></mz-navbar-item>
  </mz-navbar-item-container>
  </mz-navbar>
<router-outlet></router-outlet>
  <!-- <app-register-component></app-register-component> -->
</div>