<md-toolbar class="header lower-navbar">
  <span><h1 class="header">{{title}}</h1></span>
</md-toolbar>
<div class="full-page">
    <div class="all-inputs">
        <div class="container-ele2">
            <md-input-container class="inputs"> 
                <input mdInput        
                    placeholder="Savings Account Number"
                    type="number"
                    id="savings-account"
                    #savings>
            </md-input-container> 
        </div>

        <div class="container-ele2">
            <md-input-container class="inputs"> 
                <input mdInput 
                    required       
                    placeholder="Routing Number"
                    type="number"
                    id="routing-number"
                    #routing>
            </md-input-container> 
        </div>
    </div>

    <button md-raised-button 
        class="green-buttons register-button"
        (click)="register(savings.value, routing.value)">Register
    </button>
</div> 